<h1><%= @user.Nom %></h1>
<p> Thank you for signing up</p>
Click here, <%= link_to "your profile", @user %>
<p>Stay in touch with your email, in case there are errors in
 your registration file we will contact you</p>