  <%= render "students/navbar" %>
<div class="container">
<div class="jumbotron jpm">
  <h1 class="display-4">Hello, Student!</h1>
  <p class="lead">This is a simple contact service, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Call this number if there is a problem: +213 00 00 00 00 00 .</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
</div>